table,
tr,
td,
th {
    border: 1px solid black;
    /* border-radius: 12px; */
}

table {
    /* Alapértelmezett beállítása */
    /* border-collapse: separate; */
    border-collapse: collapse;
    /* border-radius: 12px; */
    width: 100%;
    max-width: 900px;
    margin: auto;
    margin-top: 32px;
}

td ,th {
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

tr {
    background-color: gainsboro;
}

tr:nth-child(2){
    background-color: red;
}

tr:nth-child(even){
    background-color: aqua;
}

tr:nth-child(odd){
    background-color: blue;
}

th {
    background-color: yellow;
}

caption {
    padding-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}